<div class="promo-bar">
    <div class="promo-bar-slider">
        FRETE GRÁTIS ACIMA DE R$180
    </div>
</div>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="index.html" class="logo-container">
                <img src="./assets/images/Logo.jpeg" alt="Fazendo Joias" class="logo-img">
                <span class="logo-text">Fazendo Joias</span>
            </a>
        </div>
        <div class="nav-bottom">
            <ul class="nav-menu">
                <li><a href="produtos.html">PRODUTOS</a></li>
                <li><a href="colecoes.html">COLEÇÕES</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="./provador-virtual.html">PROVADOR VIRTUAL</a></li>
            </ul>
        </div>
        <div class="nav-icons">
            <a href="carrinho.html" class="cart-link">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </a>
            <a href="#conta">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </nav>
</header>